/*固定底部占满一行的按钮*/

.footerBloackBtn {
    width: 100%;
    height: 2rem;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    /*border: 1px solid red;*/
}

.footerBloackBtn button {
    width: 100%;
    height: 2rem;
    background-color: #FBF67E;
    /*display: inline-block;*/
    color: #000;
}

.diy-img {
    width: 100%;
    height: 58%;
    text-align: center;
    vertical-align: middle;
    position: relative;
    /*border: 1px solid red;*/
}

.diy-img p {
	position: absolute;
	left: 1rem;
	top: 1rem;
}

.diy-img img {
    width: 14rem;
    height: 14rem;
    margin-top: 1.3rem;
}

.diy-select {
    width: 100%;
    height: 35%;
    // border: 1px solid blue;
}

.diy-select-top {
    width: 100%;
    height: 2rem;
    background-color: #FBF67E;
    text-align: center;
}

.diy-select-top a {
    width: 5.2rem;
    height: 2rem;
    margin: 0 auto;
    line-height: 1.9rem;
    display: inline-block;
    text-align: center;
    font-size: .9rem;
}

.diy-select-top a.active {
    background-color: #fff;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.diy-select-body {
    text-align: center;
    height: 8rem;
    font-size: .8rem;
}

.diy-select-body ul {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
}

.diy-select-body ul li {
    display: inline-block;
    margin-left: .3rem;
    margin-right: .3rem;
    /*border: 1px solid red;*/
}

.diy-select-body img {
    width: 5rem;
    height: 5rem;
    margin-top: .5rem;
    margin-left: .1rem;
    margin-right: .1rem;
}

.diy-select-body p {
    margin-top: .5rem;
}

.diy-select-body ul li .t-color-button {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background-color: #000;
    margin-top: .9rem;
    margin-right: .2rem;
    margin-left: .2rem;
}


/* size tap */
.diy-select-body-size {
	font-size: .6rem;
}

.diy-select-body-size-title p {
	color: #51abc8;
}
