body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
thead,
tbody,
tfoot,
div,
input,
textarea,
button,
span {
    margin: 0;
    padding: 0;
}

nav,
ol,
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    font-family: "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
    color: #333;
    font-size: 20px;
    height: 100%;
    background-color: #f6f6f6;
}

html {
    font-size: 20px;
    font-family: "Microsoft Yahei", "微软雅黑", "Helvetica Neue", "Hiragino Sans GB", Tahoma, Arial, STHeiti, sans-serif;
    width: 100%;
    height: 100%;
}

div,
input,
textarea,
select,
button,
ul,
li,
a,
span,
::before,
::after {
    box-sizing: border-box;
    border: none;
    outline: none;
}

select option {
    font-family: "Microsoft Yahei", "微软雅黑", "Helvetica Neue", "Hiragino Sans GB", Tahoma, Arial, STHeiti, sans-serif;
    font-size: 14px;
    color: #222;
}

input[type=text],
textarea {
    appearance: none;
    resize: none;
    padding: 0;
    word-break: break-all;
    word-wrap: break-word;
}

textarea:hover {
    border: 1px solid #f6f6f6;
}

textarea:focus {
    border: 1px solid #f6f6f6;
}

button {
    font-family: "Microsoft Yahei", "微软雅黑", "Helvetica Neue", "Hiragino Sans GB", Tahoma, Arial, STHeiti, sans-serif;
    color: #fff;
    font-size: .7rem;
    background-color: #f6f6f6;
    cursor: pointer;
    border: none;
    outline: none;
}

button:disabled {
    background-color: #cecece;
    cursor: not-allowed;
    color: #fff;
    border: none;
}

a {
    color: #333;
    *background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}


/*end CSS reset*/
